.c_item_cursos_item1 {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 6px;
    padding: 21px;
}
.title_year {
    font-size: 14px;
    font-weight: bold;
    color: #005aa6;
}

.bt_entrar {
    background-color: #005aa6;
    width: auto;
    float: left;
    clear: both;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-top: 10px;
    padding: 8px 20px 8px 20px;
}
.header_ff_p.w-clearfix {
    background-color: #005aa6;
    width: 100%;
    height: 96px;
    clear: both;
}

body {
    border: 0px;
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
}

.logo_header_p {
  width: 200px;
  height: 76px;
  float: left;
  margin-left: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.c_iconos {
  width: 115px;
  height: 35px;
  float: left;
}

.c_derech_33 {
  float: right;
  margin-top: 4px;
}

.c_salir {
  float: right;
  width: auto;
  height: 39px;
  float: right;
  background-image: url(../images/ico_exit.png);
  background-repeat: no-repeat;
  background-position: 100% 5px;
  padding-right: 45px;
  border-left: 1px solid  #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 21px;
  padding-top: 18px;
  color: white;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.c_text_peopl {
  width: auto;
  height: 39px;
  float: right;
  background-image: url(../images/ico_people.png);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  padding-left: 51px;
  padding-top: 18px;
  color: white;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
  font-weight: bold;
  margin-top: 20px;
}

.full_centr {
  background-color: #f8f8f8;
  height: auto;
  padding: 42px;
}

.c_izq_home {
  width: 45%;
  float: left;
}

.title_home_1 {
  font-size: 19px;
  font-weight: bold;
}

.c_item_cursos {
  width: 100%;
  background-color: white;
  border: 1px solid #e6e6e6;
  padding: 0;
  margin-top: 17px;
  background-image: url(../images/bg_aula.jpg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 241px;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.title_class {
  font-size: 11px;
  color: #393939;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 2;
}

.c_derc_home {
  width: 45%;
  float: right;
}

.full_slider {
  width: 100%;
  height: 300px;
  margin-top: 32px;
}

.c_izq_drec_home {
  width: 321px;
  height: 161px;
  float: left;
  background-color: white;
  border: 1px solid #e6e6e6;
  background-image: url(../images/item1.jpg);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.c_izq_drec_home.derec_ff {
  float: right;
  background-image: url(../images/item2.jpg) !important;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.c_cuadr_text_home {
  width: 130px;
  margin-top: 42px;
  margin-left: 19px;
}

.text_c_peq {
  font-size: 19px;
  color: #e8be02;
  font-weight: bold;
  text-align: center;
}

.text_c_peq.text2_cc {
  font-size: 18px;
  text-align: center;
  color: #393939;
  margin-top: 10px;
}

.bt_entrar_2 {
  text-align: center;
  background-color: #ffcf18;
  width: auto;
  float: left;
  clear: both;
  color: white;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10px;
  padding: 8px 20px 8px 20px;
  margin-left: 24px;
}

.text1_footer {
  line-height: 33px;
  text-align: center;
  background-color: #005aa6;
  color: white;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.clear1 {
    width: 100%;
    clear: both;
}
.amazingslider-bottom-shadow-3 {
    top: 191px !important;
}